/*
  |============================
  | Main section page two
  |============================
*/

.button__item {
   border-radius: 4px;
   cursor: pointer;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   letter-spacing: 0.03em;
   border-color: transparent;
   color: var(--item-tx-color);
   text-align: center;
   padding: 6px 22px;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      color: var(--item-bg-color);
      background: var(--item-btn-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
         0px 2px 2px rgba(0, 0, 0, 0.12);
   }
}

/*
  |============================
  | Main section page one
  |============================
*/

.hero__button {
   font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.06em;
   color: var(--item-bg-color);
   background: var(--item-btn-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-color: transparent;
   border-radius: 4px;
   cursor: pointer;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
   padding: 10px 32px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:focus,
   &:hover {
      background-color: #188ce8;
   }
}

/*
  |============================
  | Register form
  |============================
*/

.register__form-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 50px;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.06em;
   color: var(--item-bg-color);
   background: var(--item-btn-color);
   box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
   border-color: transparent;
   border-radius: 4px;
   cursor: pointer;
   margin-left: auto;
   margin-right: auto;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:focus,
   &:hover {
      background-color: #188ce8;
   }
}
