body {
   font-family: 'Roboto', 'sans-serif';
   font-size: 14px;
   letter-spacing: 0.03em;
   background-color: var(--item-bg-color);
}

.section {
   padding-top: 94px;
   padding-bottom: 94px;
}

.hide-title {
   visibility: hidden;
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   border: 0;
   clip: rect(0 0 0 0);
}
